<div class="header">
    <a href="getinvolved"class="button">Get Involved</a>
    <a href="ourpeople"class="button">Our People</a>
    <a href="aboutus"class="button">About Us</a>
    <a href="ourmission"class="button">Our Mission</a>
    <a href="/"class="button">Home</a>
    <div class="redemption">Team Redemption</div>
    </div>
    <div class="top"></div>