<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>

    <h1 class=heading>Our Mission</h1>

    <p class=text>We hope to construct a community around boxing in our neighborhood. We aim to provide a safe place for children to exercise and have fun in the weekends or after school.</p>

    <h2 class=subheading>Why Boxing?</h2>

    <p class=text2>Boxing is a fun sport. Schools might not have a boxing program for their student, so we provide one. We wish more children are able to develop their interests on boxing.<br />

        <br />

        Boxing can be useful sometime. Boxing is not just a sport. It is also a self defense technique. In today’s world, even kids can run into troubles. If they know how to defense themselves better in troublesome situations, they could have more confidence and be safer.</p>

    <div class ="row">

      <div class="column">

      </div>

      <div class="column">

        <img src="JJ2.jpg" alt="JackJohnsonPicture" style="width:100%">

      </div>

    </div>



    <%- include ('./include/scripts') %>
   <%- include ('./include/footer') %>
</body>
</html>